.container-1500 {
  max-width: 1595px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.text-orange {
  color: $orange;
}
.tablet-hide {
  display: none;
}
.d-none {
  display: none!important;
}
.desc-hide {
  display: block;
}
.link {
  cursor: pointer;
  transition: 0.2s;
}
@media screen and (min-width: $tablet + 1) {
  .tablet-hide {
    display: block;
  }
  .desc-hide {
    display:none;
  }
}