

$white: #fff;
$black: #121212;


$font-main: 'Montserrat', sans-serif;
$font-second: 'Hanson-Bold', sans-serif;




$mobileBig: 480px;
$mobileHeight: 500px;
$tablet: 768px;
$desktop: 1200px;
$desktopBig: 1440px;
$desktopExBig: 1600px;